.right {
    background-color: #D75959;
    box-sizing: border-box;
}


.border {
    border: 5px solid red;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 9px 15px 4px 4px rgba(10, 10, 10, 0.5);

}


#left {
    border-right: 9px solid #D75959;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: -9px 15px 4px 4px rgba(10, 10, 10, 0.5);
 
}

#right {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 9px 15px 4px 4px rgba(10, 10, 10, 0.5);

}